.actionButtons button {
  display: block !important;
  width: 100%;
  margin-bottom: 0.75em !important;
}

.actionButtons button.noPad {
  margin-bottom: 0 !important;
}

.label {
  font-weight: bold;
}

.metadata {
  overflow-x: scroll;
  text-align: left;
  font-size: 0.8em;
}

.emailSentAtDate {
  font-size: 0.8em;
  text-align: left;
  margin-bottom: 0.75em;
}

.patrolScheduleCalendarContainer {
  margin-top: 2em;
}
