.flashMessage-enter {
  opacity: 0.01;
}

.flashMessage-enter.flashMessage-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.flashMessage-leave {
  opacity: 1;
}

.flashMessage-leave.flashMessage-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
