.toc > ul {
  list-style: inside;
  padding-left: 0px;
}

.tocHeader {
  font-size: 1.2em;
  font-weight: 700;
}

.suiHeader {
  position: relative;
}

.suiHeader:before {
  display: block;
  content: ' ';
  margin-top: -55px;
  height: 55px;
  visibility: hidden;
}

.lastUpdated {
  font-size: 0.9em;
  font-style: italic;
}
